# R history files
.Rhistory
.RData
.Ruserdata

# RStudio files (if ever used)
.Rproj.user/
*.Rproj

# any file in data dir
app/data/*

# Large data objects
*.rds
*.RData
*.h5Seurat

# Shiny logs
rsconnect/
logs/

# others
.DS_Store
